body {
    background-color: #efe7d0;
    max-width: 1000px;
    margin: 20px;
    color: #c8914d;
    text-align: center;
}

button {
    background-color: #ffc26c;
    width: 200px;
    height: 50px;
    margin: 30px;
    border: 1px solid #846033;
    border-radius: 30px;
}

a {
    text-decoration: none;
    color: #8e6c3c;
    font-size: 18px;
}